/* Region */

.region {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

/* List */

.shower.list .region {
    display: none;
}

/* Full */

.shower.full .region {
    display: block;
}

/* Print */

@media print {
    .shower.list .region,
    .shower.full .region {
        display: none;
    }
}
