/* Basic */

.slide h1 {
    font-weight: normal;
}

.slide h2 {
    margin-top: 0;
    margin-bottom: 34px;
    font: 50px/2 'Yandex Sans Display Web', sans-serif;
    text-wrap: balance;
}

.slide * + h2 {
    margin-top: 41px;
}

.slide p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.1;
}

.slide p.note {
    color: var(--color-grey);
}

.slide figure {
    margin: 0;
}
